<div class="container">
  <div class="row">
    <div class="col-md-7 col-xs-12 mx-auto">
      <h2 class="border-bottom border-gray mt-4">
        <i class="fab fa-pagelines"></i> お題一覧（新着順）
      </h2>
      <%= render 'admins/themes/list', themes: @themes %>
    </div>
  </div>
</div>