<div class="container">
  <div class="row">
    <div class="col-md-7 col-xs-12 mx-auto">
          <h2 class="border-bottom border-gray mt-4">
      <i class="fab fa-pagelines"></i> <%= @user.name %>のお題
    </h2>
<!--そのユーザーの回答一覧-->
    <%= render 'admins/themes/list', themes: @mypage_themes %>
   </div>
  </div>
</div>