<div class="containar">
  <div class="row">
    <div class="col-md-5 col-xs-10 mx-auto">
      <h2 class="border-bottom border-gray mt-4 text-dange">
        <i class="fas fa-globe-asia"></i> ランダムお題
        </h2>

  <%= link_to 'クリックするとランダムに1つお題を表示します。', themes_random_path, class:"btn-info btn mt-5 w-100"; %>

     </div>
  </div>
</div>