<div class="container">
  <div class="row">
    <div class="col-md-7 col-xs-12 mx-auto">
      <h5 class="border-bottom border-gray mt-4 text-dange font-weight-bold">
        <i class="fas fa-exclamation"></i> エラーが発生しました
      </h5>
      <p>恐れ入りますが、処理をやり直してください。</p>
      <%= link_to "Topへ戻る" ,root_path, data: {"turbolinks"=> false}, class:"btn-info btn mt-3 w-100"; %>
    </div>
  </div>
</div>