<div class="mt-3">
  <table class="table table-sm ml-2">
    <% infomations.each do |infomation| %>
      <tr>
        <td class="text-left">
          <span class="small font-weight-bold">
            <%= infomation.created_at.strftime('%Y/%m/%d') %>
          </span>
          <br>
          <%= infomation.content %>
        </td>
      </tr>
    <% end %>
  </table>
</div>
