<div class="containar">
  <div class="row">
    <div class="col-md-5 col-xs-10 mx-auto">
      <h5 class="border-bottom border-gray mt-4 mb-4 font-weight-bold">
        <i class="fas fa-bell"></i> 通知一覧
      </h5>
 <!--自分の投稿に対するいいね、コメントは通知に表示しない-->
      <% @notifications = @notifications.where.not(visitor_id: current_user.id) %>
      <% if @notifications.exists? %>
        <%= render 'public/notifications/notification', notifications: @notifications %>
      <% else %>
        <p>通知はありません</p>
      <% end %>
   </div>
  </div>
</div>