<% if users.blank? %>
<h5 class="mt-3">ユーザーはいません。<h3>
  <% else %>

      <table class="table table-striped mt-4">
  <thread>
    <tr>
      <th>Name</th>
      <th>ID</th>
      <th colspan="2"></th>
    </tr>
  </thread>
<tbody>
<% users.each do |user| %>
    <tr>
       <td>
         <%= link_to user_path(user.id) do %>
         <%= user.name %>
         <% end %>
        </td>
      <td><%= user.unique_code %></td>
      <td>
<%= render 'public/relations/follow_btn', user: user %>
        </td>
    </tr>
    <% end %>
  </tbody>
</table>


<% end %>