<div class="container">
  <div class="row">
    <div class="col-md-7 col-xs-12 mx-auto">
      <h4 class="border-bottom border-gray mt-4">
        <i class="fas fa-user-friends"></i> フォロワー一覧
      </h4>
      <%= render 'public/users/list', users: @users %>
    </div>
  </div>
</div>