<% if resource.errors.any? %>
  <div class="alert alert-danger">
    <h6>Error</h6>
      <ul>
        <% resource.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
  </div>
<% end %>